/* Nav.csss */


.navigation {
    display:flex;
    flex-direction:row;
    gap: 1%;
    background-color: #ff6347;
    height: 10vh;
    font-size:large;
    padding-left: 5%;
    z-index: 100;
}



.navLink {
   text-decoration: none;
}