/* Nav.csss */


.navigation {
    display:flex;
    flex-direction:row;
    gap: 1%;
    background-color: #ff6347;
    height: 10vh;
    font-size:x-large;
    padding-left: 5%;
}



.navigation li {
   
}