
.container{
    display: grid;
    grid-template-columns:repeat(5,1fr);
}

.sidebar{
    grid-column: 1/2;
};

.content{
    grid-column-start: 2;
    align-items: center;
}

.userHeader{
    border-bottom: solid;
}

article.display{
    border:solid;
    margin:5%;
    padding:0 5% 10% 5%;

}