

.container{
    margin-left: 10%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(5, 1fr);
}
.header{
    grid-row: 1;
    grid-column: 1 / span 5;
}

.works{
    grid-column: 1;
    grid-row: 2 / span 2;
}

.subjects{
    grid-column: 1;
    grid-row: 3 / span 2;
}

.userdisplay{
    grid-column: 2/ span 5;
    grid-row: 2;
}

.bottom {
    grid-column: 2 / 5;
    grid-row: 5;
}