
.newwork{
    display:flex;
    flex-direction: column;

}
.tagCheckbox{
    /* display: flex; */
}

#radiobox{
    display:flex;
    flex-direction: row;
    row-gap: 5%;

    /* flex-direction: column; */
}